@model VMAT.ViewModels.ConfigurationFormViewModel

@{
    ViewBag.Title = "Host Configuration";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <ul>
            <li>
                @Html.LabelFor(model => model.MaxVMCount)
                @Html.EditorFor(model => model.MaxVMCount)
                @Html.ValidationMessageFor(model => model.MaxVMCount)
            </li>

            <li>
                @Html.LabelFor(model => model.MinIP)
                @Html.EditorFor(model => model.MinIP)
                @Html.ValidationMessageFor(model => model.MinIP)
            </li>

            <li>
                @Html.LabelFor(model => model.MaxIP)
                @Html.EditorFor(model => model.MaxIP)
                @Html.ValidationMessageFor(model => model.MaxIP)
            </li>
            <li>
                Note: application must be restarted (in IIS) for schedule changes to take effect. 
            </li>
            <li>
                @Html.LabelFor(model => model.CreateVMTime)
                @Html.EditorFor(model => model.CreateVMTime)
                @Html.ValidationMessageFor(model => model.CreateVMTime)
            </li>

            <li>
                @Html.LabelFor(model => model.BackupVMTime)
                @Html.EditorFor(model => model.BackupVMTime)
                @Html.ValidationMessageFor(model => model.BackupVMTime)
            </li>

            <li>
                @Html.LabelFor(model => model.ArchiveVMTime)
                @Html.EditorFor(model => model.ArchiveVMTime)
                @Html.ValidationMessageFor(model => model.ArchiveVMTime)
            </li>
        </ul>
    </fieldset>
    
    <input type="submit" value="Save" />
    
    <div>
        @Html.ActionLink("See Log Output (info & exceptions)", "", "elmah")<br />
        @Html.ActionLink("Check Web.config Settings", "Check")<br />
        @Html.ActionLink("Run All Scheduled Tasks Now (may be slow)", "ScheduleRunAll")<br />
        @Html.ActionLink("Back to List", "Index", "VirtualMachine")
    </div>
}
