@model VMAT.Models.HostConfiguration

@{
    ViewBag.Title = "Host Configuration";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <ul>
            <li>
                @Html.LabelFor(model => model.MaxVMCount)
                @Html.EditorFor(model => model.MaxVMCount)
                @Html.ValidationMessageFor(model => model.MaxVMCount)
            </li>

            <li>
                @Html.LabelFor(model => model.MinIP)
                @Html.EditorFor(model => model.MinIP)
                @Html.ValidationMessageFor(model => model.MinIP)
            </li>
        </ul>
    </fieldset>
    
    <input type="submit" value="Save" />
    
    <div>
        @Html.ActionLink("Back to List", "Index", "VirtualMachine")
    </div>
}
