@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<ol class="error padded">
    <li>
        <h2>Action</h2>
        <p>@Model.ControllerName<span>/</span>@Model.ActionName</p>
    </li>
    <li>
        <h2>Message</h2>
        <p>@Model.Exception.GetType().Name<span>: </span>@Model.Exception.Message</p>
    </li>
    <li>
        <h2>Stack Trace</h2>
        <p id="stack-trace">@Model.Exception.StackTrace</p>
    </li>
</ol>
