@model VMAT.Models.ArchivedVirtualMachine 

<div class="machine-info" machineid="@Model.VirtualMachineId">
    <div class="primary">
        <table>
            <tr>
                <th>Machine Name</th>
                <th>Archive Time</th>
                <th>
                    <a href="@Url.Action("Edit", new { img = Url.Encode(Model.ImagePathName) })" 
                        class="edit-machine link-button">
                        Unarchive
                    </a>
                </th>
            </tr>
            <tr>
                <td class="tMachinename">@Model.GetMachineName()</td>
                <td class="tArchived">@Model.LastArchived</td>
                <td class="tControls">
                    <button type="button" class="toggle-details">
                        Show More
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="details">
        <table>
            <tr>
                <th>Image File</th>
                <th>Created</th>
                <th>Last Start Time</th>
                <th>Last Backup Time</th>
            </tr>
            <tr>
                <td class="tImagefile">@Model.BaseImageName</td>
                <td class="tCreated">@Model.Created</td>
                <td class="tStarted">@Model.LastStarted</td>
                <td class="tBackuped">@Model.LastBackuped</td>
            </tr>
        </table>
    </div>
</div>
