@model VMAT.ViewModels.PendingArchiveVirtualMachineViewModel

<div class="machine-info pending-archive" machineid="@Model.VirtualMachineId">
    <div class="primary">
        <div class="status">
            <button type="button" status="@Model.Status"><img src="@Url.Content("~/Content/themes/images/loading.gif")" alt="?" /></button>
        </div>

        <span class="pending-message">
            <span class="message"><strong>@Model.MachineName</strong> is scheduled to be 
                <span class="uppercase">archived</span> at @ViewBag.ArchiveTime</span>
            <button class="undo-pending">
                Undo
            </button>
        </span>
        <span class="tControls">
            <button type="button" class="toggle-details">
                Show More
            </button>
        </span>
    </div>
    <div class="details">
        <table>
            <tr>
                <th><!-- Empty --></th>
                <th>Machine Name</th>
                <th>IP Address</th>
                <th>Date Created</th>
                <th>Last Shutdown Time</th>
                <th>
                    <a href="@Url.Action("Edit", new { img = Url.Encode(Model.VirtualMachineId.ToString()) })" 
                        class="edit-machine link-button">
                        Edit
                    </a>
                </th>
            </tr>
            <tr>
                <td class="tStatus"><!-- Empty --></td>
                <td class="tMachinename">@Model.MachineName</td>
                <td class="tIP">@Model.IP</td>
                <td class="tCreated">@Model.CreatedTime</td>
                <td class="tStopped">@Model.LastStopped</td>
            </tr>
            <tr>
                <th><!-- Empty --></th>
                <th>Operating System</th>
                <th>Last Start Time</th>
                <th>Last Backup Time</th>
                <th>Last Archive Time</th>
                <th><!-- No Data --></th>
            </tr>
            <tr>
                <td class="tStatus"><!-- Empty --></td>
                <td class="tImagefile"><img src="@Url.Content(Model.OperatingSystemIcon)" alt="" /></td>
                <td class="tStarted">@Model.LastStarted</td>
                <td class="tBackuped">@Model.LastBackuped</td>
                <td class="tArchived">@Model.LastArchived</td>
                <td class="tEmpty">
                    <!-- No Data -->
                </td>
            </tr>
        </table>
    </div>
</div>
