@model IEnumerable<VMAT.ViewModels.ProjectViewModel>

@{
    ViewBag.Title = "Virtual Machine Management";
}

<script type="text/javascript" src="@Url.Content("~/Scripts/popups.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/vmManagement.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/toggleMachineStatus.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/date.format.js")"></script>

<script type="text/javascript">
    // URL Lookup Table
    urlTable['undoPendingOperation'] = '@Url.Action("UndoPendingOperation")';
    urlTable['toggleMachineStatus'] =  '@Url.Action("ToggleStatus")';
    urlTable['archiveProject'] = '@Url.Action("ArchiveProject")';
    urlTable['deleteProject'] = '@Url.Action("DeleteProject")';
    urlTable['getNextIP'] = '@Url.Action("GetNextIP")';
</script>

<div class="management-header">
    <ul>
        <li>
            <a href="@Url.Action("Create")" class="link-button">
                <span class="icon">
                    <img src="@Url.Content("~/Content/themes/images/icon_server-create.png")" alt="+" />
                </span>
                Create
            </a>
        </li>
        <li>
            <a href="@Url.Action("Host", "Configuration")" class="link-button">
                <span class="icon">
                    <img src="@Url.Content("~/Content/themes/images/icon_server-admin.png")" alt="*" />
                </span>
                Admin
            </a>
        </li>
    </ul>
</div>

<div id="display-projects-list" class="list">
    <ul id="projects-list">
    @foreach (var project in Model)
    {
        <li>
            <div class="project" id="@project.ProjectName">
                <div class="project-header">
                    <button type="button" class="project-display collapse">v</button>
                    <h2>G<span>@project.ProjectName</span></h2>
                    <h3>@project.Hostname</h3>
                    <button type="button" class="project-close">
                        <span class="icon">
                            <img src="@Url.Content("~/Content/themes/images/icon_project-complete.png")" alt="X" />
                        </span>
                        Close
                    </button>
                </div>

                <div class="project-machines">
                    <ul class="machine-list">
                    @foreach (var vm in project.RegisteredVMs)
                    {
                        <li class="registered-vm">
                            @Html.Partial("_RegisteredVirtualMachine", vm)
                        </li>
                    }

                    @foreach (var vm in project.PendingArchiveVMs)
                    {
                        <li class="pending-archive-vm">
                            @Html.Partial("_PendingArchiveVirtualMachine", vm)
                        </li>
                    }

                    @foreach (var vm in project.PendingVMs)
                    {
                        <li class="pending-vm">
                            @Html.Partial("_PendingVirtualMachine", vm)
                        </li>
                    }

                    @foreach (var vm in project.ArchivedVMs)
                    {
                        <li class="archived-vm">
                            @Html.Partial("_ArchivedVirtualMachine", vm)
                        </li>
                    }
                    </ul>
                </div>
            </div>
        </li>
    }
    </ul>
</div>


@* +++++++++++++++ Popup DIVs +++++++++++++++++ *@


@Html.Partial("_Popup")

@Html.Partial("_ProjectCloseForm")
