@model IEnumerable<VMAT.ViewModels.ProjectViewModel>

@{
    ViewBag.Title = "Virtual Machine Management";
}

<script type="text/javascript" src="@Url.Content("~/Scripts/popups.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/vmManagement.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/toggleMachineStatus.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/closeProject.js")"></script>

<div class="management-header">
    <ul>
        <li>
            <a href="@Url.Action("Create")" class="link-button">
                <span class="icon">
                    <img src="@Url.Content("~/Content/themes/images/icon_server-create.png")" alt="+" />
                </span>
                Create
            </a>
        </li>
        <li>
            <a href="@Url.Action("Host", "Configuration")" class="link-button">
                <span class="icon">
                    <img src="@Url.Content("~/Content/themes/images/icon_server-admin.png")" alt="*" />
                </span>
                Admin
            </a>
        </li>
    </ul>
</div>

<div id="display-projects-list" class="list">
    <ul id="projects-list">
    @foreach (var project in Model)
    {
        <li>
            <div class="project" id="@project.ProjectName">
                <div class="project-header">
                    <h2>G<span>@project.ProjectName</span></h2>
                    <h3>@project.Hostname</h3>
                    <button type="button" class="project-close">
                        <span class="icon">
                            <img src="@Url.Content("~/Content/themes/images/icon_project-complete.png")" alt="X" />
                        </span>
                        Close
                    </button>
                </div>

                <div class="project-machines">
                    <ul class="machine-list">
                    @foreach (var vm in project.RegisteredVMs)
                    {
                        <li>
                            <div class="machine-info" id="@vm.ImagePathName">
                                <div class="status">
                                    <button type="button" status="@vm.Status" />
                                </div>
                                <table>
                                    <tr>
                                        <th>Machine Name</th>
                                        <th>IP Address</th>
                                        <th>Date Created</th>
                                        <th>Last Shutdown Time</th>
                                        <th>
                                            <a href="@Url.Action("Edit", new { img = Url.Encode(vm.ImagePathName) })" 
                                                class="edit-machine link-button">
                                                Edit
                                            </a>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td class="tMachinename">@vm.MachineName</td>
                                        <td class="tIP">@vm.IP</td>
                                        <td class="tCreated">@vm.CreatedTime</td>
                                        <td class="tStopped">@vm.LastStopped</td>
                                        <td class="tControls">
                                            <button type="button" class="toggle-details">
                                                Show More
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                                <div class="details">
                                    <table>
                                        <tr>
                                            <th><!-- Empty --></th>
                                            <th>Image File</th>
                                            <th>Last Start Time</th>
                                            <th>Last Backup Time</th>
                                            <th>Last Archive Time</th>
                                            <th><!-- No Data --></th>
                                        </tr>
                                        <tr>
                                            <td class="tStatus"><!-- Empty --></td>
                                            <td class="tImagefile">@vm.BaseImageName</td>
                                            <td class="tStarted">@vm.LastStarted</td>
                                            <td class="tBackuped">@vm.LastBackuped</td>
                                            <td class="tArchived">@vm.LastArchived</td>
                                            <td class="tEmpty">
                                                <!-- No Data -->
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </li>
                    }
                    </ul>
                </div>
            </div>
        </li>
    }
    </ul>
</div>


@*Html.Partial("_ClosingProject")*@

<!-- +++++++++++++++ Popup DIVs +++++++++++++++++ -->

@Html.Partial("_Popup")

@Html.Partial("_ProjectCloseForm")
