@model IEnumerable<VMAT.ViewModels.ProjectViewModel>

@{
    ViewBag.Title = "Virtual Machine Management";
}

<script type="text/javascript" src="@Url.Content("~/Scripts/popups.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/vmManagement.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/toggleMachineStatus.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/date.format.js")"></script>

<script type="text/javascript">
    // URL Lookup Table
    urlTable['undoPendingCreateOperation'] = '@Url.Action("UndoPendingCreateOperation")';
    urlTable['undoPendingArchiveOperation'] = '@Url.Action("UndoPendingArchiveOperation")';
    urlTable['toggleMachineStatus'] =  '@Url.Action("ToggleStatus")';
    urlTable['archiveProject'] = '@Url.Action("ArchiveProject")';
    urlTable['deleteProject'] = '@Url.Action("DeleteProject")';
    urlTable['getNextIP'] = '@Url.Action("GetNextIP")';
</script>

<div class="management-header">
    <ul>
        <li>
            <a href="@Url.Action("Create")" class="link-button">
                <img src="@Url.Content("~/Content/themes/images/icon_server-create.png")" alt="+" />
                Create
            </a>
        </li>
        <li>
            <a href="@Url.Action("Host", "Configuration")" class="link-button">
                <img src="@Url.Content("~/Content/themes/images/icon_server-admin.png")" alt="*" />
                Admin
            </a>
        </li>
    </ul>
</div>

<ul id="project-list">
    @foreach (var project in Model)
    {
        <li class="project-item">
            @Html.Partial("_Project", project)
        </li>
    }
</ul>

@* +++++++++++++++ Popup DIVs +++++++++++++++++ *@

@Html.Partial("_Popup")

@Html.Partial("_ProjectCloseForm")
